.primary {
    background-color: var(--sixty);
    color: var(--ten);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    min-height: 100vh;
}

.box {
    background-color: var(--thirty);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    border-radius: 25px;
}

html {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}