.verseNumber {
    background-color: #DDD0C8;

    padding: 2px 5px;
    border-radius: 5px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.verseLine {
    line-height: 2em;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0rem 0.5rem 0rem 0rem;
}